<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="J2MAE" />
<meta name="description" content="Professional medical management system" />
<meta name="keywords" content="professional medical dashboard, HTML UI MedRapp," />
<title>MedRapp</title>
<link rel="stylesheet" href="dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
        
<!-- logo -->
     <div>
      <h1><img src="logo-1.png">Med<span style="color:green"><strong>Rap</strong></span></h1>
    </div>
   
    
   
 
    
  <!-- </sidenav>  -->

  <div class="sidenav">

    <button class="dropdown-btn"><i class="material-icons">medical_services</i>Doctors<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="new-doctor.html">Add new doctor</a>
      <a href="new-doctor.html">Edit profile</a>
      <a href="new-doctor.html">View all doctors</a>
    </div>

    <button class="dropdown-btn"><i class="material-icons">personal_injury</i>Patients<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="new-patient.html">new-patient.html</a>
      <a href="new-patient.html">Edit profile</a>
      <a href="new-patient.html">View all patients</a>
    </div>
    <a href="appointments.html"><i class="material-icons">book_online</i>Appointments</a>
    <a href="graphics.html"><i class="material-icons">analytics</i>Analytics</a>
    <a href="messages.html"><i class="material-icons">mail</i>Messages</a>
  </div>

  <!--the top navigation bar-->
<topnav class="topnav">
	<button class="btn"><a href="#" class="btn"><i class="fa fa-calendar"aria-hidden="ture"></i> Make an Appointment</i></a></button>
	
	<button class="btn"><a href="#" class="btn"><i class="fa fa-folder"aria-hidden="ture"></i> Draft a Report</i></a></button>
    
    <button class="btn"><a href="#" class="btn"><i class="fa fa-folder" aria-hidden="true"></i> Write a Prescription</i></a></button>


    <div class="img">
        <img src="img-avatar.png">
		<div class="dropdown">
			<button class="dropbtn"> Dr MARK WILSON <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
			<div class="dropdown-content">
				<a href="doctors.html">More Details</a>
				<a href="doctors.html">Edit Profile</a>
				<a href="doctors.html">Login</a>
			</div>
		</div>
    </div>
</topnav>   
<!-- introductionary statement -->

<header>
  <h2 style="color: white;margin-left:200px;margin-bottom: 30px;  margin-top: 50px;background-color: blue;width: 50%;text-align: center;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">MAKE AN APPOINTMENT</h2>
</header>

<div style="background-color: blue;"class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="fname">First Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Country</label>
    </div>
    <div class="col-75">
      <select id="country" name="continent">
        <option value="europe">EUROPE</option>
        <option value="usa">USA</option>
        <option value="africa">AFRICA</option>
        <option value="asia">ASIA</option>
      </select>
    </div>
    <div class="col-25">
      <label for="city">City</label>
    </div>
    <div class="col-75">
      <input type="text" id="city" name="address" placeholder="Your city is..">
    </div>
    <div class="col-25">
      <label for="address">Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="adress" name="address" placeholder="Your address..">
    </div>
    <div class="col-25">
      <label for="address">Post code</label>
    </div>
    <div class="col-75">
      <input type="text" id="post code" name="postcode" placeholder="Your post code is..">
    </div>
  </div>
  <form action="/action_page.php">
    <label for="birthday">Booking date & time:</label>
    <input type="date" id="birthday" name="birthday">
    <input type="submit">
  </form>
  <div class="row">
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input style="font-weight: bold; font-size: 20px;" type="submit" value="Save">
  </div>
  </form>
</div>

</body>
</html>





















