<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="J2MAE" />
<meta name="description" content="Professional medical management system" />
<meta name="keywords" content="professional medical dashboard, HTML UI MedRapp," />
<title>MedRapp</title>
<link rel="stylesheet" href="dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
        
<!-- logo -->
     <div>
      <h1><img src="logo-1.png">Med<span style="color:green"><strong>Rap</strong></span></h1>
    </div>
   
    
   
 
    
  <!-- </sidenav>  -->

  <div class="sidenav">

    <button class="dropdown-btn"><i class="material-icons">medical_services</i>Doctors<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="new-doctor.html">Add new doctor</a>
      <a href="new-doctor.html">Edit profile</a>
      <a href="new-doctor.html">View all doctors</a>
    </div>

    <button class="dropdown-btn"><i class="material-icons">personal_injury</i>Patients<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="new-patient.html">new-patient.html</a>
      <a href="new-patient.html">Edit profile</a>
      <a href="new-patient.html">View all patients</a>
    </div>
    <a href="appointments.html"><i class="material-icons">book_online</i>Appointments</a>
    <a href="graphics.html"><i class="material-icons">analytics</i>Analytics</a>
    <a href="messages.html"><i class="material-icons">mail</i>Messages</a>
  </div>

  <!--the top navigation bar-->
<topnav class="topnav">
	<button class="btn"><a href="#" class="btn"><i class="fa fa-calendar"aria-hidden="ture"></i> Make an Appointment</i></a></button>
	
	<button class="btn"><a href="#" class="btn"><i class="fa fa-folder"aria-hidden="ture"></i> Draft a Report</i></a></button>
    
    <button class="btn"><a href="#" class="btn"><i class="fa fa-folder" aria-hidden="true"></i> Write a Prescription</i></a></button>


    <div class="img">
        <img src="img-avatar.png">
		<div class="dropdown">
			<button class="dropbtn"> Dr MARK WILSON <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
			<div class="dropdown-content">
				<a href="doctors.html">More Details</a>
				<a href="doctors.html">Edit Profile</a>
				<a href="doctors.html">Login</a>
			</div>
		</div>
    </div>
</topnav>   
<!-- introductionary statement -->
<div class="main-welcome">
	<div>
		<h2>Good morning, <span style="color:blue">Dr. Wilson</span></h2> 
		<span></span>
		<p>Here are your important tasks, updates and alerts. You can select your preference options here</p>
	</div>
</div>
</body>
</html>